<ul>
    <li>
        <a href = "{{ url('books') }}">
            Каталог книг
        </a>
    </li>
    <li>
        <a href = "{{ url('authors') }}">
            Каталог Авторов
        </a>
    </li>
</ul>