<ul>
    <li>
        <a href = "{{ url('authors') }}">
            Список
        </a>
    </li>
    <li>
        <a href = "{{ url('add_author') }}">
            Добавить
        </a>
    </li>
</ul>